{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<section>
    <!-- Floating Labels Form -->
    <form class="row g-3" method="">
        <div class="col-md-12">
          <div class="form-floating">
            <input type="name" class="form-control" id="floatingName" value = "{{tna.user}}">
            <label for="floatingName">User</label>
        </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingEmail" value = "{{tna.serial_no}}">
            <label for="floatingEmail">serial_no</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingPassword" value = "{{tna.tnac}}">
            <label for="floatingPassword">TNAC</label>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingPassword" value = "{{tna.date}}">
              <label for="floatingPassword">Date</label>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingZip" value = "{{tna.sector}}">
              <label for="floatingZip">Sector</label>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingZip" value = "{{tna.organization}}">
              <label for="floatingZip">organization</label>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingSelect" value = "{{tna.location}}">
              <label for="floatingSelect">Location</label>
            </div>
          </div>
    
      <div class="text-center">
          <button type="submit" class="btn btn-primary">User Profile</button>
          <button type="reset" class="btn btn-secondary">sth else</button>
        </div>
      </form><!-- End floating Labels Form -->
    
    </section>




{% endblock content %}





